astroid==2.3.2
beautifulsoup4==4.8.1
bootstrap4==0.1.0
certifi==2019.9.11
cli-helpers==1.2.1
Click==7.0
configobj==5.0.6
Django==2.2.13
django-auth-ldap==2.0.0
django-bootstrap-form==3.4
django-bootstrap4==1.0.1
django-helpdesk==0.2.17
django-markdown-deux==1.0.5
django-python3-ldap==0.11.2
django-widget-tweaks==1.4.5
email-reply-parser==0.5.9
future==0.17.1
Glances==3.1.2
humanize==0.5.1
isort==4.3.21
lazy-object-proxy==1.4.2
ldap3==2.5
lxml==4.6.2
markdown2==2.3.8
mccabe==0.6.1
pgcli==2.1.1
pgspecial==1.11.7
prompt-toolkit==2.0.9
psutil==5.6.6
psycopg2==2.8.4
pyasn1==0.4.4
pyasn1-modules==0.2.7
Pygments==2.7.4
pylint==2.4.3
python-ldap==3.2.0
pytz==2019.3
setproctitle==1.1.10
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
tabulate==0.8.3
terminaltables==3.1.0
typed-ast==1.4.0
wcwidth==0.1.7
wrapt==1.11.2
